/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clear {
    clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/

  body {
    margin: 0 auto;
    font-size: 18px;
    text-align: justify;
    font-family: 'Sorts Mill Goudy', serif;
    width: 100%;
    height: 100%;
  }

  .wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    height: 150px;
  }

  header img {
    height: 100%;
    margin-left: 5%;
  }

  /* Navigation Menu */
  
  nav {
    font-size: 22px;
    background: #ffcc99;
    font-family: 'Sorts Mill Goudy', serif;
    border-top: solid 2px orange;
    border-bottom: solid 2px orange;
  }

  nav a {
     color: #000000;
     letter-spacing: 3px;
     margin-right: 35px;
  }

  .banner-title {
    text-align: center;
    padding-top: 5%;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 36px;
  }

  /*Footer*/

  footer {
    background: #ffcc99;
    padding: 40px 0px 20px 75px;
    text-align: center;
    border-top: 2px solid orange;
    margin-top: 50px;
  }

  footer a {
    color: #000000;
  }
  
/* Homepage */
  
.intro {
  background-image: url("../images/webpage-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-bottom: solid 2px orange;
  margin: 0;
  position: relative;
}

.intro-message {
  background: white;
  position: absolute;
  opacity: 0.925;
  width: 50%;
  height: 60%;
  margin-left: 40%;
  margin-top: 9%;
  text-align: center;
  text-overflow: hidden;
  border-radius: 8px;
  border: solid 2px #ffcc99;
  padding: 3%;
  line-height: 1.8em;
}
  
.second-box {
  background: lightblue;
}

.second-box-mobile {
  display: none;
}

/*Services*/

#pancake-services-menu img {
  width: 100%;
}

.photo-box {
  margin-left: -20px;
  position: relative;
  display: inline-block;
}

.services-list {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 24%;
  text-align: center;
  top: 28%;
  width: 70%;
  font-size: 25px;
  line-height: 2.2em;
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 800;
}

.services-list a {
  color: black;
}

.text-box {
  margin-left: -20px;
  background-color: rgb(233,138,0,0.5);
  padding: 35px;
}

.services-text-box {
  font-size: 18px;
  line-height: 2em;
}

.mobile-services-text-box {
  display: none;
}

.second-box img {
  width: 100%;
}

.pricing img {
  width: 95%;
  margin-left: 2%;
}

.tablet-pricing img {
  display: none;
}

.mobile-pricing img {
  display: none;
}

.services-image {
  width: 50%;
  float: right;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.services-description {
  margin: 3% 9%;
}

.services-text ul li {
  padding-top: 15px;
  display: list-item;
  list-style-type: square;
  list-style-position: outside;
  margin-left: 2%;
}

.small-title {
  font-weight: bold;
  margin-right: 5px;
  color: navy;
  font-size: 22px;
}

.back {
  margin-left: 8%;
  margin-top: 1%;
}

.back a {
  color: orange;
}

/*Website Development*/

.wb-text {
  margin: 3% 7%;
}

/*Terms of Service/Privacy Policy*/

.page-content {
  margin: 5% 10%;
}

.fine-print {
  font-size: 14px;
}

.centered-title {
  text-align: center;
  font-size: 32px;
  text-emphasis: bold;
  text-decoration: underline;
}

/*Contact*/

.form-container {
  position: relative;
}

#notebook-image img {
  width: 75%;
  margin-left: 14%;
}

.form-content {
  width: 50%;
  font-size: 18px;
  z-index: 999;
  position: absolute;
  top: 15%;
  left: 25%;
}

.form-group {
  margin-bottom: 25px;
}

.form-check {
  margin-top: 10px;
}

#submit {
  background-color: #1d72b8;
  margin-top: 35px;
  margin-bottom: 25px;
  padding: 8px 15px;
  color: #ffffff;
  font-size: 20px;
}

#submit img {
  margin-left: 10px;
  height: 35px;
}

.asterisk {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

#name-label {
  margin-left: -1%;
  margin-bottom: 5px;
}

#title {
  margin-left: -1%;
}

#phone-number {
  margin-left: 5%;
}

.contact-title {
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 36px;
}

.contact-description {
  margin: 3% 0;
}

/*Reviews*/

.screenshot img {
  width: 100%;
  margin-top: 25px;
}

.testimonial img {
  width: 100%;
}

.review {
  margin-top: 25px;
}

.review-block-mobile {
  display: none;
}

/*About*/

.about-image {
  width: 50%;
  float: right;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 15px;
}

.philosophy img {
  width: 100%;
  margin-top: 25px;
}

.philosophy-mobile img {
  display: none;
}

/*Smaller Screen Sizes*/

/* Desktops/Laptops */

@media (max-width: 1280px) {
  /* desktop view */
  
  /******************************************
  /* LAYOUT
  /*******************************************/

  /*Services*/

  #pancake-services-menu {
    width: 100%;
  }

  .services-list {
    font-size: 23px;
    line-height: 2.4em;
  }

  .text-box {
    font-size: 16px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/
  
  #notebook-image img {
    width: 80%;
    margin-left: 10%;
  }
  
  .form-content {
    top: 12%;
    left: 25%;
  }

  #confirmation {
    width: 48%;
    margin-left: 23%;
    height: 60%;
    font-size: 20px;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Reviews*/

  .screenshot img {
    width: 100%;
    margin-top: 25px;
  }

  .testimonial img {
    width: 100%;
  }

  .review {
    margin-top: 25px;
  }
}

@media (max-width: 1199px) {
  /* desktop view */
  
  .services-list {
    font-size: 21px;
    line-height: 2em;
  }

  .text-box {
    padding: 4%;
  }
  
  .services-text-box {
    line-height: 1.6em;
  }

  /*Contact*/

  .form-container {
    position: relative;
  }
  
  #notebook-image img {
    width: 85%;
    margin-left: 8%;
  }
  
  .form-content {
    width: 55%;
    font-size: 16px;
    top: 15%;
    left: 23%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 10px;
  }
  
  #submit {
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 8px 15px;
    font-size: 20px;
  }
  
  .asterisk {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* Tablets */

@media(max-width: 1024px) {
  /* tablet landscape */

  /******************************************
  /* LAYOUT
  /*******************************************/

  /* Homepage */
    
  .intro-message {
    width: 50%;
    height: 60%;
  }

  .second-box {
    width: 100%;
    margin: 1%;
  }

  /*Services*/

  #pancake-services-menu {
    padding-left: 3%;
  }

  .services-list {
    top: 26%;
    font-size: 20px;
    line-height: 2.1em;
  }

  .text-box {
    font-size: 16px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/
  
  #notebook-image img {
    width: 95%;
    margin-left: 3%;
  }
  
  .form-content {
    width: 60%;
    top: 15%;
    left: 20%;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Reviews*/

  .screenshot img {
    width: 100%;
    margin-top: 25px;
  }

  .testimonial img {
    width: 100%;
  }

  .review {
    margin-top: 25px;
  }
}

@media (max-width: 992px) {
  /* desktop view */
  
  .services-list {
    right: 23%;
    top: 28%;
    font-size: 19px;
    line-height: 2.2em;
  }

  .services-text-box {
    font-size: 18px;
  }
  
  #pancake-services-menu {
    padding-left: 3%;
  }

  .pricing img {
    width: 95%;
    padding: 0px;
  }
}

@media (max-width: 991px) {
  /* desktop view */
  
  /*Services*/

  .services-list {
    right: 20%;
    top: 27%;
    font-size: 16px;
    line-height: 1.7em;
  }

  .text-box {
    padding: 3%;
  }
  
  .services-text-box {
    font-size: 16px;
    line-height: 1.2em;
  }

  /*Reviews*/
  
  .review-block {
    display: none;
  }

  .review-block-mobile {
    display: block;
  }

  /* .screenshot img {
    width: 100%;
    margin-top: 25px;
  }
  
  .testimonial img {
    width: 100%;
  }
  
  .review {
    margin-top: 25px;
  } */

  .review-mobile img {
    width: 45%;
    margin-left: 28%;
    margin-bottom: 3%;
  }

  .screenshot-mobile img {
    width: 75%;
    margin-left: 12%;
    margin-bottom: 3%;
  }
}

@media (max-width: 925px) {

  /*Contact*/

  .form-content {
    width: 65%;
    top: 10%;
    left: 17%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 5px;
  }
  
  #submit {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 8px 15px;
    font-size: 18px;
  }
  
  .asterisk {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #phone-number {
    margin-left: 5%;
  }

  .pricing img {
    display: none;;
  }

  /*Services*/

  .tablet-pricing img {
    display: block;
    width: 82%;
    margin: 15px auto;
    background-color: rgb(247, 247, 247);
    border-radius: 16px;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  /* tablet portrait */

  /******************************************
  /* LAYOUT
  /*******************************************/

  /* Navigation Menu */

  nav a {
    margin-right: 5px;
  }

  /*Footer*/

  .footer-text {
      font-size: 18px;
      padding-right: 5%;
  }

  .copyright {
      padding-top: 15px;
      padding-bottom: 15px;
  }

  .contact-info {
      padding-top: 10px;
  }
  
  /* Homepage */
    
  .intro {
    background-image: url("../images/webpage-background.png");
    height: 600px;
  }

  .intro-message {
    width: 50%;
    height: 400px;
    margin-left: 40%;
    margin-top: 9%;
    padding: 2%;
  }

  .second-box {
    display: none;
  }

  .second-box-mobile {
    width: 80%;
    display: block;
    background-color: rgb(247, 247, 247);
    border-radius: 16px;
    padding: 35px 75px;
    margin: 15px auto;
  }

  .second-box-mobile img {
    width: 100%;
  }

  /*Services*/

  .services-list {
    font-size: 16px;
    line-height: 1.65em;
  }

  .text-box {
    font-size: 16px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  #notebook-image img {
    width: 95%;
    margin-left: 3%;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Reviews*/

  .review-mobile img {
    width: 55%;
    margin-left: 23%;
  }

  .screenshot-mobile img {
    width: 80%;
    margin-left: 10%;
  }

  /*About*/

  .philosophy img {
    display: none;
  }

  .philosophy-mobile img {
    display: block;
    width: 80%;
    margin: 25px auto;
  }
}

@media (max-width: 767px) {
  /* desktop view */
  
  .services-list {
    left: 25%;
    top: 28.75%;
    width: 75%;
    font-size: 19px;
    line-height: 1.9em;
  }
  
  .services-text-box {
    font-size: 11px;
  }

  .text-box {
    display: none;
  }

  .mobile-services-text-box {
    display: block;
    width: 85%;
    margin-left: 8%;
    margin-top: 4%;
  }

  #pancake-services-menu img {
    width: 170%;
  }

  /*About*/

  #notebook-image img {
    width: 100%;
    margin-left: 0%;
  }
 
  .form-content {
    width: 70%;
    top: 10%;
    left: 15%;
  }

  form hr {
    display: none;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 5px;
  }
  
  #submit {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 16px;
  }

  #submit img {
    height: 20px;
  }
  
  .asterisk {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #title {
    max-width: 18%;
  }

  #first-name {
    max-width: 35%;
  }

  #last-name {
    max-width: 45%;
  }
}

/* Mobile Phones */

@media(max-width: 640px) {
  /* landscape view */  
  
  /******************************************
  /* LAYOUT
  /*******************************************/

  /* Navigation Menu */
  
  nav {
    font-size: 16px;
  }

  .banner-title {
    font-size: 24px;
  }

  /*Footer*/

  footer {
    padding-right: 6%;
    font-size: 16px;
  }
  
  /* Homepage */
    
  .intro {
    background-image: url("../images/webpage-background.png");
    height: 600px;
  }

  .intro-message {
    width: 50%;
    height: 75%;
    margin-left: 40%;
    margin-top: 9%;
    padding: 4% 2% 0 2%;
  }

  .second-box-mobile {
    width: 85%;
    padding: 30px 55px;
  }

  /*Services*/

  .photo-box {
    margin-left: -20px;
    position: relative;
    display: inline-block;
  }

  .tablet-pricing img {
    display: none;
  }

  .mobile-pricing img {
    display: block;
    width: 85%;
    margin: 15px auto;
    background-color: rgb(247, 247, 247);
    border-radius: 16px;
    padding: 20px 55px;
  }

  .services-image {
    width: 50%;
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-description {
    margin: 3% 9%;
  }

  .services-text ul li {
    padding-top: 15px;
    margin-left: 2%;
  }

  .small-title {
    margin-right: 5px;
    font-size: 22px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 16px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  #notebook-image img {
    display: none;
  }
 
  .form-container {
    width: 90%;
    margin-left: 5%;
    background: rgb(187, 191, 192);
    height: 1000px;
    border-radius: 8px;
  }

  .form-content {
    width: 85%;
    left: 7%;
    top: 5%;
  }

  form hr {
    display: block;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 10px;
  }
  
  #submit {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 18px;
  }

  #submit img {
    height: 25px;
  }
  
  .asterisk {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  #title {
    max-width: 20%;
  }

  #confirmation {
    width: 48%;
    margin-left: 23%;
    height: 60%;
    font-size: 20px;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  /* desktop view */
  
  /*Homepage*/

  .intro-message {
    width: 55%;
    height: 80%;
    margin-left: 30%;
    margin-top: 15%;
  }

  .second-box-mobile {
    padding: 30px 45px;
  }

  /*Services*/

  #pancake-services-menu {
    margin-left: 10%;
  }

  #pancake-services-menu img {
    width: 140%;
    opacity: 0.3;
  }

  .text-box {
    background-color: #ffcc99;
    padding: 3%;
  }
  
  .services-text-box {
    line-height: 1.5em;
    height: 300px;
  }

  .services-list {
    left: 35%;
    top: 14%;
    width: 85%;
    font-size: 18px;
    line-height: 1.5em;
  }

  /*Contact*/

  .form-container {
    height: 1250px;
    width: 75%;
    margin-left: 12%;
  }

  .form-content {
    top: 3%;
  }

  #title {
    max-width: 100%;
  }

  #first-name {
    max-width: 100%;
    margin-left: -1%;
  }

  #last-name {
    max-width: 100%;
    margin-left: -1%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #email {
    max-width: 100%;
  }

  #phone-number {
    max-width: 100%;
    margin-left: 0px;
  }

  /*About*/
  .philosophy-mobile img {
    width: 100%;
  }

  /*Reviews*/
  .review-mobile img {
    width: 70%;
    margin-left: 15%;
  }

  .screenshot-mobile img {
    width: 90%;
    margin-left: 5%;
  }
}


@media(max-width: 480px) {
  /* large portrait screens */

  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    font-size: 16px;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    height: 100px;
  }

  /* Navigation Menu */

  .banner-title {
    font-size: 24px;
  }

  /* Homepage */
    
  .intro {
    background-image: url("../images/webpage-background.png");
    height: 600px;
  }

  .intro-message {
    width: 70%;
    height: 60%;
    margin-left: 15%;
    margin-top: 15%;
    padding-top: 8%;
  }

  .second-box-mobile {
    width: 90%;
    padding: 20px 35px;
  }

  /*Services*/

  #pancake-services-menu img {
    opacity: 0.3;
  }

  .services-list {
    left: 25%;
    top: 15%;
    font-size: 16px;
    line-height: 1.1em;
  }

  .mobile-pricing img {
    width: 85%;
    padding: 10px 5px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  .form-container {
    height: 1400px;
  }

  .form-content {
    top: 2%;
  }

  #confirmation {
    width: 48%;
    margin-left: 23%;
    height: 60%;
    font-size: 20px;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Reviews*/

  .review-mobile img {
    width: 80%;
    margin-left: 10%;
  }

  .screenshot-mobile img {
    width: 90%;
    margin-left: 5%;
  }

  /*Footer*/

  footer {
    margin-top: 10%;
    padding: 15px;
  }

  .footer-text {
    font-size: 16px;
    padding-left: 5%;
  }

  .copyright {
    padding-top: 20px;
  }

  .contact-info {
    padding-top: 15px;
  }
}

@media(max-width: 442px) {

  .intro-message {
  height: 75%;
  line-height: 1.7em;
  }

  .second-box-mobile {
    width: 95%;
    padding: 20px 10px;
    /* margin: 15px auto; */
  }

  .services-list {
    left: 25%;
    top: 10%;
    width: 110%;
    line-height: 1em;
  }
}

@media(max-width: 320px) {
  /* small portrait screens */

  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Homepage */
    
  .intro {
    background-image: url("../images/webpage-background.png");
    height: 600px;
  }

  .intro-message {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 15%;
    padding-top: 8%;
  }

  .second-box-mobile {
    width: 100%;
    padding: 5px 5px;
    border-radius: 0px;
  }

  /*Services*/

  #pancake-services-menu {
    width: 100%;
  }

  .services-list {
    left: 25%;
    top: 10%;
    width: 100%;
    font-size: 14px;
    line-height: 1em;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  .contact-form {
    width: 90%;
    margin-left: 4%;
    margin-top: 5%;
    padding: 20px 0px;
  }

  .asterisk {
    margin-top: 25px;
  }

  #submit {
    margin-top: 5px;
  }

  #confirmation {
    width: 48%;
    margin-left: 23%;
    height: 60%;
    font-size: 20px;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Reviews*/

  .review-mobile img {
    width: 90%;
    margin-left: 5%;
  }

  .screenshot-mobile img {
    width: 90%;
    margin-left: 5%;
  }
}