/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clear {
    clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/

  body {
    margin: 0 auto;
    font-size: 18px;
    text-align: justify;
    font-family: 'Sorts Mill Goudy', serif;
    width: 100%;
    height: 100%;
  }

  .wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    height: 150px;
  }

  header img {
    height: 100%;
    margin-left: 5%;
  }

  /* Navigation Menu */
  
  nav {
    font-size: 22px;
    background: #ffcc99;
    font-family: 'Sorts Mill Goudy', serif;
    border-top: solid 2px orange;
    border-bottom: solid 2px orange;
  }

  nav a {
     color: #000000;
     letter-spacing: 3px;
     margin-right: 35px;
  }

  .banner-title {
    text-align: center;
    padding-top: 5%;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 36px;
  }


  /*Footer*/

  footer {
    background: #ffcc99;
    padding: 40px 0px 20px 75px;
    text-align: center;
    border-top: 2px solid orange;
    margin-top: 50px;
  }

  footer a {
    color: #000000;
  }
  
/* Homepage */
  
.intro {
  background-image: url("../images/webpage-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-bottom: solid 2px orange;
  margin: 0;
  position: relative;
}

.intro-message {
  background: white;
  position: absolute;
  opacity: 0.925;
  width: 50%;
  height: 60%;
  margin-left: 40%;
  margin-top: 9%;
  text-align: center;
  text-overflow: hidden;
  border-radius: 8px;
  border: solid 2px #ffcc99;
  padding: 3%;
  line-height: 1.8em;
}
  
.second-box {
  background: lightblue;
}


/*Services*/

#pancake-services-menu img {
  width: 100%;
}

.photo-box {
  margin-left: -20px;
  position: relative;
  display: inline-block;
}

.services-list {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 24%;
  text-align: center;
  top: 28%;
  width: 70%;
  font-size: 25px;
  line-height: 2.2em;
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 800;
}

.services-list a {
  color: black;
}

.text-box {
  margin-left: -20px;
  background-color: rgb(233,138,0,0.5);
  padding: 35px;
}

.services-text-box {
  font-size: 18px;
  line-height: 2em;
}

.mobile-services-text-box {
  display: none;
}

.second-box img {
  width: 100%;
}

.pricing img {
  width: 95%;
  margin-left: 2%;
}

.services-image {
  width: 50%;
  float: right;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.services-description {
  margin: 3% 9%;
}

.services-text ul li {
  padding-top: 15px;
  display: list-item;
  list-style-type: square;
  list-style-position: outside;
  margin-left: 2%;
}

.small-title {
  font-weight: bold;
  margin-right: 5px;
  color: navy;
  font-size: 22px;
}

.back {
  margin-left: 8%;
  margin-top: 1%;
}

.back a {
  color: orange;
}


/*Website Development*/

.wb-text {
  margin: 3% 7%;
}


/*Terms of Service/Privacy Policy*/

.page-content {
  margin: 5% 10%;
}

.fine-print {
  font-size: 14px;
}

.centered-title {
  text-align: center;
  font-size: 32px;
  text-emphasis: bold;
  text-decoration: underline;
}


/*Contact*/

.contact-form {
  /* width: 100%; */
}

.form-container {
  position: relative;
  /* text-align: center; */
}

#notebook-image img {
  width: 75%;
  margin-left: 14%;
}

.form-content {
  width: 50%;
  /* margin-left: 17%;
  padding-top: 20%; */
  font-size: 18px;
  z-index: 999;
  position: absolute;
  top: 15%;
  left: 25%;

}

.form-group {
  margin-bottom: 25px;
}

.form-check {
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

#submit {
  background-color: #1d72b8;
  margin-top: 35px;
  margin-bottom: 25px;
  padding: 8px 15px;
  color: #ffffff;
  font-size: 20px;
}

#submit img {
  margin-left: 10px;
  height: 35px;
}

.asterisk {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

#name-label {
  margin-left: -1%;
  margin-bottom: 5px;
}

#title {
  margin-left: -1%;
}

#phone-number {
  margin-left: 5%;
}

/* #email {
  margin-left: 1%;
}

#location {
  margin-left: 1%;
} */

.contact-title {
  text-align: center;
  /* padding-top: 5%; */
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 36px;
}

.contact-description {
  margin: 3% 0;
}

/*Testimonials*/

.screenshot img {
  width: 100%;
  margin-top: 25px;
}

.testimonial img {
  width: 100%;
}

.review {
  margin-top: 25px;
  /* background: lightgrey; */
}

/*About*/

.about-image {
  width: 50%;
  float: right;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 15px;
}

.graphic img {
  width: 100%;
  margin-top: 25px;
}



/*Smaller Screen Sizes*/


/* Desktops/Laptops */

@media (max-width: 1280px) {
  /* desktop view */


  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  /* body {
    font-size: 18px;
  } */
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  .banner-title {
    padding-top: 5%;
    font-size: 36px;
  }
  
  /*Services*/

  #pancake-services-menu {
    width: 100%;
  }

  .photo-box {
    margin-left: -20px;
    position: relative;
    display: inline-block;
  }

  .services-list {
    margin: 0 auto;
    left: 0;
    right: 24%;
    top: 28%;
    width: 70%;
    font-size: 23px;
    line-height: 2.4em;
    font-weight: 800;
  }

  .text-box {
    margin-left: -20px;
    padding: 35px;
    font-size: 16px;
  }

  .second-box img {
    width: 100%;
  }

  .pricing img {
    width: 95%;
  }

  .services-image {
    width: 50%;
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-description {
    margin: 3% 9%;
  }

  .services-text ul li {
    padding-top: 15px;
    margin-left: 2%;
  }

  .small-title {
    margin-right: 5px;
    font-size: 22px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  /* .form-container {
    position: relative;
  } */
  
  #notebook-image img {
    width: 80%;
    margin-left: 10%;
  }
  
  .form-content {
    top: 12%;
    left: 25%;
  }
  
  /* .form-group {
    margin-bottom: 25px;
  } */
  
  /* .form-check {
    margin-top: 10px; */
    /* margin-bottom: 10px; */
  
  
  /* #submit {
    background-color: #1d72b8;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 20px;
  }
  
  #submit img {
    margin-left: 10px;
    height: 35px;
  } */
  
  /* .asterisk {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
  } */

  /*Testimonials*/

  .screenshot img {
    width: 100%;
    margin-top: 25px;
  }

  .testimonial img {
    width: 100%;
  }

  .review {
    margin-top: 25px;
  }

  #confirmation {
    width: 48%;
    margin-left: 23%;
    height: 60%;
    font-size: 20px;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }
}


@media (max-width: 1199px) {
  /* desktop view */
  
  .services-list {
    margin: 0 auto;
    left: 0;
    right: 24%;
    top: 28%;
    width: 70%;
    font-size: 21px;
    line-height: 2em;
    font-weight: 800;
  }

  .text-box {
    /* margin-left: -20px; */
    padding: 4%;
  }
  
  .services-text-box {
    /* font-size: 18px; */
    line-height: 1.6em;
  }

  .form-container {
    position: relative;
    /* text-align: center; */
  }
  
  #notebook-image img {
    width: 85%;
    margin-left: 8%;
  }
  
  .form-content {
    width: 55%;
    font-size: 16px;
    top: 15%;
    left: 23%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 10px;
  }
  
  #submit {
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 8px 15px;
    font-size: 20px;
  }
  
  .asterisk {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}


/* Tablets */

@media(max-width: 1024px) {
  /* tablet landscape */


    /******************************************
  /* BASE STYLES
  /*******************************************/
  
  /* body {
    font-size: 18px;
  } */
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    height: 150px;
  }

  header img {
    height: 100%;
    margin-left: 5%;
  }

  /* Navigation Menu */
  
  nav {
    font-size: 22px;
  }

  .banner-title {
    padding-top: 5%;
    font-size: 36px;
  }

  /* Homepage */
    
  .intro-message {
    width: 50%;
    height: 60%;
  }

  /*Services*/

  #pancake-services-menu {
    width: 100%;
    padding-left: 3%;
  }

  .photo-box {
    margin-left: -20px;
    position: relative;
    display: inline-block;
  }

  .services-list {
    /* margin: 0 auto;
    left: 0; */
    right: 24%;
    top: 26%;
    width: 70%;
    font-size: 20px;
    line-height: 2.1em;
    font-weight: 800;
  }

  .text-box {
    margin-left: -20px;
    padding: 35px;
    font-size: 16px;
  }

  .second-box img {
    width: 100%;
  }

  .pricing img {
    width: 95%;
  }

  .services-image {
    width: 50%;
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-description {
    margin: 3% 9%;
  }

  .services-text ul li {
    padding-top: 15px;
    margin-left: 2%;
  }

  .small-title {
    margin-right: 5px;
    font-size: 22px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  /* .form-container {
    position: relative;
    /* text-align: center; */
  /* } */ 
  
  #notebook-image img {
    width: 95%;
    margin-left: 3%;
  }
  
  .form-content {
    width: 60%;
    /* font-size: 16px; */
    top: 15%;
    left: 20%;
  }
  
  /* .form-group {
    margin-bottom: 15px;
  }
   */
  /* .form-check {
    margin-top: 10px;
  } */
  
  /* #submit {
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 8px 15px;
    font-size: 20px;
  } */
  
  /* .asterisk {
    margin-top: 15px;
    margin-bottom: 15px;
  } */

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Testimonials*/

  .screenshot img {
    width: 100%;
    margin-top: 25px;
  }

  .testimonial img {
    width: 100%;
  }

  .review {
    margin-top: 25px;
  }
}

@media (max-width: 992px) {
  /* desktop view */
  
  .services-list {
    margin: 0 auto;
    left: 0;
    right: 23%;
    top: 29%;
    width: 70%;
    font-size: 18px;
    line-height: 2.2em;
    font-weight: 800;
  }

  .text-box {
    /* margin-left: -20px; */
    font-size: 16px;
  }
  
  /* .services-text-box {
    font-size: 18px;
    line-height: 2em;
  } */

  #pancake-services-menu {
    padding-left: 3%;
  }
}

@media (max-width: 991px) {
  /* desktop view */
  
  .services-list {
    margin: 0 auto;
    left: 0;
    right: 20%;
    top: 27%;
    width: 70%;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 800;
  }

  .text-box {
    margin-left: -20px;
    padding: 3%;
  }
  
  .services-text-box {
    font-size: 14px;
    line-height: 1.5em;
  }

  #pancake-services-menu {
    /* padding-left: 3%; */
  }
}


@media (max-width: 925px) {


  /* #notebook-image img {
    width: 95%;
    margin-left: 3%;
  }
   */
   .form-content {
    width: 65%;
    /* font-size: 14px; */
    top: 10%;
    left: 17%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 5px;
  }
  
  #submit {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 8px 15px;
    font-size: 18px;
  }
  
  .asterisk {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #email {
    /* width: 50%; */
    /* display: inline-block; */
    /* float: left; */
  }

  #phone-number {
    /* width: 45%; */
    /* display: inline-block; */
    /* float: left; */
    margin-left: 5%;
  }

  #location {
    /* display: block; */
  }
}

@media (max-width: 768px) {
  /* tablet portrait */

      /******************************************
  /* BASE STYLES
  /*******************************************/
  
  /* body {
    font-size: 18px;
  } */
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    height: 150px;
  }

  header img {
    height: 100%;
    margin-left: 5%;
  }

  /* Navigation Menu */
  
  nav {
    font-size: 22px;
  }

  nav a {
    letter-spacing: 3px;
    margin-right: 5px;
  }

  .banner-title {
    padding-top: 5%;
    font-size: 36px;
  }


  /*Footer*/

  .footer-text {
      font-size: 18px;
      padding-right: 5%;
  }

  .copyright {
      padding-top: 15px;
      padding-bottom: 15px;

  }

  .contact-info {
      padding-top: 10px;
  }
  
  /* Homepage */
    
  .intro {
    background-image: url("../images/webpage-background.png");
    height: 600px;
  }

  .intro-message {
    width: 50%;
    height: 400px;
    margin-left: 40%;
    margin-top: 9%;
    padding: 2%;
  }

  /*Services*/

  #pancake-services-menu {
    width: 100%;
  }

  .photo-box {
    margin-left: -20px;
    position: relative;
    display: inline-block;
  }

  .services-list {
    margin: 0 auto;
    left: 0;
    right: 21%;
    top: 29%;
    width: 70%;
    font-size: 15px;
    line-height: 1.7em;
    font-weight: 800;
  }

  .text-box {
    margin-left: -20px;
    /* padding: 35px; */
    font-size: 16px;
  }

  .second-box img {
    width: 100%;
  }

  .pricing img {
    width: 95%;
  }

  .services-image {
    width: 50%;
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-description {
    margin: 3% 9%;
  }

  .services-text ul li {
    padding-top: 15px;
    margin-left: 2%;
  }

  .small-title {
    margin-right: 5px;
    font-size: 22px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  #notebook-image img {
    width: 95%;
    margin-left: 3%;
  }
/*   
   .form-content {
    width: 65%;
    font-size: 14px;
    top: 10%;
    left: 17%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 5px;
  }
  
  #submit {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 8px 15px;
    font-size: 18px;
  }
  
  .asterisk {
    margin-top: 10px;
    margin-bottom: 5px;
  } */

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Testimonials*/

  .screenshot img {
    width: 100%;
    margin-top: 25px;
  }

  .testimonial img {
    width: 100%;
  }

  .review {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  /* desktop view */
  
  .services-list {
    margin: 0 auto;
    left: 25%;
    top: 28.75%;
    width: 75%;
    font-size: 18px;
    line-height: 2em;
    font-weight: 800;
  }
  
  .services-text-box {
    font-size: 11px;
  }

  .text-box {
    display: none;
  }

  .mobile-services-text-box {
    display: block;
    width: 85%;
    margin-left: 8%;
    margin-top: 4%;
  }

  #pancake-services-menu img {
    width: 170%;
  }

  /*About*/

  #notebook-image img {
    width: 100%;
    margin-left: 0%;
  }
 
  .form-content {
    width: 70%;
    /* font-size: 14px; */
    top: 10%;
    left: 15%;
  }

  form hr {
    display: none;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 5px;
  }
  
  #submit {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 16px;
  }

  #submit img {
    height: 20px;
  }
  
  .asterisk {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #title {
    max-width: 18%;
    /* display: inline-block;
    float: left; */
  }

  #first-name {
    max-width: 35%;
    /* display: inline-block;
    float: left; */
  }

  #last-name {
    max-width: 45%;
    /* display: inline-block;
    float: left; */
  }

  ::placeholder {
    /* font-size: 14px; */
  }
}


/* Mobile Phones */

@media(max-width: 640px) {
  /* landscape view */  


  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    font-size: 16px;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    height: 150px;
  }

  header img {
    height: 100%;
    margin-left: 5%;
  }

  /* Navigation Menu */
  
  nav {
    font-size: 16px;
  }

  .banner-title {
    padding-top: 5%;
    font-size: 24px;
  }

  /*Footer*/

  footer {
    padding-right: 6%;
    font-size: 16px;
  }
  
  /* Homepage */
    
  .intro {
    background-image: url("../images/webpage-background.png");
    height: 600px;
  }

  .intro-message {
    width: 50%;
    height: 75%;
    margin-left: 40%;
    margin-top: 9%;
    padding: 4% 2% 0 2%;
  }

  /*Services*/

  .photo-box {
    margin-left: -20px;
    position: relative;
    display: inline-block;
  }

  /* .services-list {
    margin: 0 auto;
    left: 25%;
    top: 28.75%;
    width: 75%;
    font-size: 18px;
    line-height: 2em;
    font-weight: 800;
  } */

  .text-box {
    margin-left: -20px;
    padding: 35px;
    font-size: 16px;
  }

  .second-box img {
    width: 100%;
  }

  .pricing img {
    width: 95%;
  }

  .services-image {
    width: 50%;
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-description {
    margin: 3% 9%;
  }

  .services-text ul li {
    padding-top: 15px;
    margin-left: 2%;
  }

  .small-title {
    margin-right: 5px;
    font-size: 22px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  #notebook-image img {
    display: none;
  }
 
  .form-container {
    width: 90%;
    /* font-size: 12px; */
    /* top: 10%; */
    /* left: 10%; */
    margin-left: 5%;
    background: rgb(187, 191, 192);
    height: 1000px;
    border-radius: 8px;

  }

  .form-content {
    width: 85%;
    left: 7%;
    /* margin-left: -2%; */
    top: 5%;
  }

  form hr {
    display: block;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-top: 10px;
  }
  
  #submit {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 18px;
  }

  #submit img {
    height: 25px;
  }
  
  .asterisk {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  #title {
    max-width: 20%;
    /* display: inline-block;
    float: left; */
  }

  #first-name {
    /* max-width: 35%; */
    /* display: inline-block;
    float: left; */
  }

  #last-name {
    /* max-width: 45%; */
    /* display: inline-block;
    float: left; */
  }

  #email {
    /* width: 55%; */
  }

  #phone-number {
    /* width: 40%; */
  }

  ::placeholder {
    /* font-size: 12px; */
  }


  #confirmation {
    width: 48%;
    margin-left: 23%;
    height: 60%;
    font-size: 20px;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Testimonials*/

  .screenshot img {
    width: 100%;
    margin-top: 25px;
  }

  .testimonial img {
    width: 100%;
  }

  .review {
    margin-top: 25px;
  }
}


@media (max-width: 575px) {
  /* desktop view */
  
  #pancake-services-menu {
    margin-left: 10%;
  }

  #pancake-services-menu img {
    /* display: block; */
    width: 140%;
    opacity: 0.4;
  }

  .text-box {
    margin-left: -20px;
    background-color: #ffcc99;
    padding: 3%;
    /* font-size: 16px; */
  }
  
  .services-text-box {
    font-size: 13px;
    line-height: 1.5em;
    height: 300px;
  }

  .services-image {
    width: 50%;
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-description {
    margin: 3% 9%;
  }

  .services-list {
    margin: 0 auto;
    left: 35%;
    top: 12%;
    width: 75%;
    font-size: 16px;
    line-height: 1.9em;
    font-weight: 800;
  }

  .intro-message {
    width: 55%;
    height: 80%;
    margin-left: 30%;
    margin-top: 15%;
    /* border-radius: 8px; */
    /* padding: 2%; */
  }

  /* #notebook-image img {
    width: 100%;
    margin-left: 0%;
  } */
 
  .form-container {
    height: 1250px;
    width: 75%;
    margin-left: 12%;
  }

  .form-content {
    top: 3%;
  }

  /* form hr {
    display: none;
  } */
  
  /* .form-group {
    margin-bottom: 10px;
  } */
  
  /* .form-check {
    margin-top: 0px;
  } */
  
  /* #submit {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 14px;
  } */

  /* #submit img {
    height: 15px;
  }
  
  .asterisk {
    margin-top: 5px;
    margin-bottom: 5px;
  } */

  #title {
    max-width: 100%;
    /* margin-right: 50%; */
    /* display: block;
    float: left; */ */
  }

  #first-name {
    max-width: 100%;
    margin-left: -1%;
    /* margin-right: 40%; */
    /* display: inline-block;
    float: left; */
  }

  #last-name {
    max-width: 100%;
    margin-left: -1%;
    /* margin-right: 40%; */
    margin-top: 15px;
    margin-bottom: 15px;
    /* display: inline-block;
    float: left; */
  }

  #email {
    max-width: 100%;
    /* margin-right: 40%; */
  }

  #phone-number {
    max-width: 100%;
    margin-left: 0px;
  }
  /* ::placeholder {
    font-size: 12px;
  } */

}


@media(max-width: 480px) {
  /* large portrait screens */

        /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    font-size: 14px;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    height: 100px;
  }

  header img {
    height: 100%;
    margin-left: 5%;
  }

  /* Navigation Menu */
  
  nav {
    font-size: 16px;
  }

  .banner-title {
    padding-top: 5%;
    font-size: 24px;
  }

  /*Footer*/

  footer {
    font-size: 16px;
  }

  /* Homepage */
    
  .intro {
    background-image: url("../images/webpage-background.png");
    height: 600px;
  }

  .intro-message {
    width: 70%;
    height: 60%;
    margin-left: 15%;
    margin-top: 15%;
    padding-top: 8%;
    /* padding: 2%; */
  }

  /*Services*/

  #pancake-services-menu img {
    opacity: 0.3;
  }

  .photo-box {
    margin-left: -20px;
    position: relative;
    display: inline-block;
  }

  .services-list {
    margin: 0 auto;
    left: 25%;
    top: 12%;
    width: 100%;
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 800;
  }

  .text-box {
    margin-left: -20px;
    padding: 35px;
    font-size: 16px;
  }

  .second-box img {
    width: 100%;
  }

  .pricing img {
    width: 95%;
  }

  .services-image {
    width: 50%;
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-description {
    margin: 3% 9%;
  }

  .services-text ul li {
    padding-top: 15px;
    margin-left: 2%;
  }

  .small-title {
    margin-right: 5px;
    font-size: 22px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  .form-container {
    height: 1400px;
  }

  .form-content {
    top: 2%;
  }

  

  #confirmation {
    width: 48%;
    margin-left: 23%;
    height: 60%;
    font-size: 20px;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Testimonials*/

  .screenshot img {
    width: 100%;
    margin-top: 25px;
  }

  .testimonial img {
    width: 100%;
  }

  .review {
    margin-top: 25px;
  }

    /*Footer*/

    footer {
        margin-top: 10%;
        padding: 15px;
    }

    .footer-text {
        font-size: 16px;
        padding-left: 5%;
    }

    .copyright {
        padding-top: 20px;
    }

    .contact-info {
        padding-top: 15px;
    }
}

@media(max-width: 320px) {
    
  .intro-message {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 15%;
    padding-top: 8%;
  }
}

@media(max-width: 320px) {
  /* small portrait screens */

  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    /* font-size: 18px; */
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    height: 100px;
  }

  header img {
    height: 100%;
    margin-left: 5%;
  }

  /* Navigation Menu */
  
  nav {
    font-size: 16px;
  }

  .banner-title {
    padding-top: 5%;
    font-size: 24px;
  }

  
  /* Homepage */
    
  .intro {
    background-image: url("../images/webpage-background.png");
    height: 600px;
  }


  
  .intro-message {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 15%;
    padding-top: 8%;
    /* border-radius: 8px; */
    /* padding: 2%; */
  }


  /*Services*/

  #pancake-services-menu {
    width: 100%;
  }

  .photo-box {
    margin-left: -20px;
    position: relative;
    display: inline-block;
  }

  .services-list {
    margin: 0 auto;
    left: 25%;
    top: 10%;
    width: 100%;
    font-size: 14px;
    line-height: 1em;
    font-weight: 800;
  }

  .text-box {
    margin-left: -20px;
    padding: 35px;
    font-size: 16px;
  }

  .second-box img {
    width: 100%;
  }

  .pricing img {
    width: 95%;
  }

  .services-image {
    width: 50%;
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-description {
    margin: 3% 9%;
  }

  .services-text ul li {
    padding-top: 15px;
    margin-left: 2%;
  }

  .small-title {
    margin-right: 5px;
    font-size: 22px;
  }

  /*Terms of Service/Privacy Policy*/

  .page-content {
    margin: 5% 10%;
  }

  .fine-print {
    font-size: 14px;
  }

  .centered-title {
    font-size: 32px;
  }

  /*Contact*/

  .contact-form {
    width: 90%;
    margin-left: 4%;
    margin-top: 5%;
    /* border-radius: 25px; */
    padding: 20px 0px;
    /* font-size: 18px; */
  }

  .asterisk {
    margin-top: 25px;
  }

  #submit {
    margin-top: 5px;
  }

  /* #last-name {
    margin-top: 0px;
} */

  #confirmation {
    width: 48%;
    margin-left: 23%;
    height: 60%;
    font-size: 20px;
  }

  #popuptext {
    padding: 35px;
  }

  #popuptext a {
    margin: 35px;
    font-size: 18px;
  }

  /*Testimonials*/

  .screenshot img {
    width: 100%;
    margin-top: 25px;
  }

  .testimonial img {
    width: 100%;
  }

  .review {
    margin-top: 25px;
  }
}